{% extends 'base.html.twig' %}
{% block title %}Travel Mate | Création d'une destination future{% endblock %}

{% block body %}
    <h2 class="page-header">Ajout d'une destination future</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <div id="markers"></div>
    <div id="map_canvas"></div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/maps.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnX_MphD697QVoFq4mKvnpxhpyHQm2vOg&callback=initMap">
    </script>
{% endblock %}