{% extends 'base.html.twig' %}
{% block title %}Travel Mate | Modification de {{ trip.title }}{% endblock %}
{% block body %}
    <h2 class="page-header">Modification du voyage</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
